.notification.message,
.notification.warning,
.notification.error,
.notification.success {
	border: 1px solid;
	margin: 1em 0;
	padding: 1em;
}

.notification.message ul,
.notification.warning ul,
.notification.error ul,
.notification.success ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.notification.message li,
.notification.warning li,
.notification.error li,
.notification.success li {
	padding: 0;
	margin: 0;
}

.notification.message {
	color: #00529B;
	background-color: #BDE5F8;
}

.notification.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.notification.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.notification.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
